{% extends 'SProvider/design1.html' %}
{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<div class="container-fluid" style="padding:50px;">
    
    <div class="row">

        <div class="col-md-5"></div>

        <div class="col-md-2"></div>

        <div class="col-md-5">

            <form method="POST">
                {% csrf_token %}

                <img src="{% static 'images/Login.jpg' %}" width="200">

                <p style="color:red; font-weight:bold;">
                    Login Using Your Account:
                </p>

                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="User Name" required>
                </div>

                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </div>

                <input type="submit" class="btn btn-primary" value="Sign In">

                {% if error %}
                    <p style="color:red;">{{ error }}</p>
                {% endif %}

                <br><br>

                <a class="btn btn-info" href="{% url 'serviceproviderlogin' %}">
                    SERVICE PROVIDER
                </a>

                <a class="btn btn-success" href="{% url 'Register1' %}">
                    REGISTER
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}