{% extends 'SProvider/design1.html' %}
{% load static %}

{% block navbar %}
{% endblock %}

{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<div class="container-fluid" style="padding:50px;">

    <div class="row">

        <div class="col-md-5">

            <form method="POST">
                {% csrf_token %}

                <img src="{% static 'images/Register.jpg' %}" width="200"><br><br>

                <span style="color:red; font-weight:bold;">
                    REGISTER YOUR DETAILS HERE !!!
                </span>

                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="User Name" required>
                </div>

                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email Address" required>
                </div>

                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </div>

                <div class="form-group">
                    <input type="number" name="phoneno" class="form-control" placeholder="Mobile Number" required>
                </div>

                <div class="form-group">
                    <input type="text" name="country" class="form-control" placeholder="Country" required>
                </div>

                <div class="form-group">
                    <input type="text" name="state" class="form-control" placeholder="State" required>
                </div>

                <div class="form-group">
                    <input type="text" name="city" class="form-control" placeholder="City" required>
                </div>

                <input type="submit" class="btn btn-primary" value="Sign Up">

                <br><br>

                <a href="{% url 'login' %}" class="btn btn-secondary">
                    User Login
                </a>

            </form>

        </div>

        <div class="col-md-2"></div>
        <div class="col-md-5"></div>

    </div>

</div>

{% endblock %}